.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1457px;
}

.u-section-1 .u-shape-1 {
  width: 336px;
  left: 334px;
  background-image: none;
  right: auto;
}

.u-section-1 .u-image-1 {
  width: 784px;
  height: 588px;
  margin: 100px auto 0 123px;
}

.u-section-1 .u-shape-2 {
  width: 204px;
  height: 204px;
  background-image: none;
  margin: -638px auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 556px;
  min-height: 348px;
  margin: 30px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  margin: 27px 0 0;
}

.u-section-1 .u-group-2 {
  width: 556px;
  min-height: 291px;
  height: auto;
  margin: 28px auto 0 27px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-1 .u-text-4 {
  line-height: 1.8;
  margin: 27px 0 0;
}

.u-section-1 .u-group-3 {
  width: 556px;
  min-height: 348px;
  height: auto;
  margin: 28px 14px 60px auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-1 .u-text-6 {
  line-height: 1.8;
  margin: 27px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    left: 246px;
  }

  .u-section-1 .u-image-1 {
    width: 762px;
    height: 507px;
    margin-top: 117px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -753px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -88px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 146px;
    height: auto;
  }

  .u-section-1 .u-group-3 {
    margin-top: -582px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-shape-1 {
    width: 304px;
    left: 183px;
  }

  .u-section-1 .u-image-1 {
    width: 599px;
    height: 449px;
    margin-top: 109px;
    margin-right: 50px;
  }

  .u-section-1 .u-shape-2 {
    width: 170px;
    height: 170px;
    margin-top: -507px;
  }

  .u-section-1 .u-group-1 {
    width: 466px;
    margin-top: -55px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-group-2 {
    width: 466px;
    margin-top: -122px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-group-3 {
    width: 466px;
    margin-top: -281px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 866px;
  }

  .u-section-1 .u-shape-1 {
    width: 232px;
    height: 868px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 125px 0 auto;
  }

  .u-section-1 .u-image-1 {
    width: 453px;
    height: 340px;
    margin-top: 977px;
    margin-right: 36px;
  }

  .u-section-1 .u-shape-2 {
    width: 138px;
    height: 138px;
    margin-top: -398px;
  }

  .u-section-1 .u-group-1 {
    width: 415px;
    min-height: 384px;
    margin-top: -47px;
  }

  .u-section-1 .u-group-2 {
    width: 415px;
    min-height: 384px;
    margin-top: -227px;
    margin-left: 0;
  }

  .u-section-1 .u-group-3 {
    width: 415px;
    min-height: 384px;
    margin-top: -204px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 869px;
  }

  .u-section-1 .u-shape-1 {
    width: 242px;
    left: 4px;
    right: auto;
    height: auto;
    margin: initial;
  }

  .u-section-1 .u-image-1 {
    width: 318px;
    height: 243px;
    margin-top: 109px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 116px;
    height: 116px;
    margin-top: -270px;
  }

  .u-section-1 .u-group-1 {
    width: 318px;
    min-height: 386px;
    margin-top: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-group-2 {
    width: 318px;
    min-height: 386px;
    margin-top: -433px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-group-3 {
    width: 318px;
    min-height: 386px;
    margin-top: 66px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.25rem;
  }
}.u-section-2 {
  background-image: none;
  min-height: 959px;
}

.u-section-2 .u-text-1 {
  text-transform: none;
  font-weight: 600;
  font-size: 3rem;
  margin: 49px calc(((100% - 1140px) / 2) + 94px) 0 calc(((100% - 1140px) / 2) + 70px);
}

.u-section-2 .u-shape-1 {
  height: 202px;
  margin-top: 139px;
  margin-bottom: 0;
}

.u-section-2 .u-list-1 {
  width: 1059px;
  margin: -281px calc(((100% - 1140px) / 2) + 33px) 60px auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 18px) calc(33.3333% - 18px) calc(33.3333% - 18px);
  grid-gap: 27px 27px;
  min-height: 738px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 20px 17px;
}

.u-section-2 .u-image-1 {
  height: 228px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 20px 17px;
}

.u-section-2 .u-image-2 {
  height: 228px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 20px 17px;
}

.u-section-2 .u-image-3 {
  height: 228px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-8 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 730px;
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    height: auto;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-repeater-1 {
    min-height: 351px;
  }

  .u-section-2 .u-image-1 {
    height: 219px;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 219px;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 219px;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 1105px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 13.5px) calc(50% - 13.5px);
  }

  .u-section-2 .u-image-1 {
    height: 256px;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 256px;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 256px;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 56px;
    margin-right: 56px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 168px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
    margin-top: -321px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 379px;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-2 .u-image-2 {
    height: 379px;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 30px;
  }

  .u-section-2 .u-image-3 {
    height: 379px;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -124px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-1 {
    height: 277px;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-2 {
    height: 277px;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-3 {
    height: 277px;
    margin-left: initial;
  }
}.u-section-3 {
  background-image: none;
  min-height: 1092px;
}

.u-section-3 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 523px);
  height: 167px;
  margin: 288px auto 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 713px;
  margin: -394px auto 39px calc(((100% - 1140px) / 2));
}

.u-section-3 .u-layout-cell-1 {
  min-height: 992px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 135px 382px 0 165px;
}

.u-section-3 .u-list-1 {
  width: 359px;
  margin: -214px -350px 0 auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 980px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 21px 0 34px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: 33px 5px 0 18px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 21px 0 34px;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  margin: 33px 5px 0 18px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 21px 0 34px;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  margin: 33px 5px 0 18px;
}

.u-section-3 .u-image-1 {
  height: 413px;
  margin: -634px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 724px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 523px);
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 624px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.625rem;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 1017px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 523px);
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 1162px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 523px);
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-text-1 {
    margin-right: 296px;
    margin-left: 79px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 1028px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-1 {
    font-size: 2rem;
    margin-right: 175px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 25px;
    margin-right: 12px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 25px;
    margin-right: 12px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 25px;
    margin-right: 12px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1534px;
}

.u-section-4 .u-shape-1 {
  width: 114px;
  height: 114px;
  margin: 36px 30px 0 auto;
}

.u-section-4 .u-group-1 {
  width: 211px;
  min-height: 114px;
  background-image: none;
  height: auto;
  margin: -92px auto 0 65px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 27px;
  padding-right: 27px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 2.75rem;
  margin: 26px 29px 0 6px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1068px;
  margin: 16px auto 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 620px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 18px 14px;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.8;
  margin: 0 0 0 25px;
}

.u-section-4 .u-image-1 {
  min-height: 620px;
  background-image: url("images/gffgfg-min.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-4 .u-layout-wrap-2 {
  width: 1068px;
  margin: 53px auto;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 620px;
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 18px 14px;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.8;
  margin: 0 0 0 25px;
}

.u-section-4 .u-video-1 {
  min-height: 620px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 30px 0;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1997px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 67px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 111px;
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 826px;
    margin-top: -123px;
    margin-right: 47px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 546px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 546px;
  }

  .u-section-4 .u-layout-wrap-2 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 546px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }

  .u-section-4 .u-video-1 {
    min-height: 546px;
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1613px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 70px;
  }

  .u-section-4 .u-group-1 {
    width: 400px;
    min-height: 324px;
    margin-top: 63px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 691px;
    margin-top: -83px;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-image-1 {
    min-height: 418px;
  }

  .u-section-4 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-video-1 {
    min-height: 418px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2183px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 36px;
  }

  .u-section-4 .u-group-1 {
    width: 377px;
    min-height: 284px;
    margin-top: 1184px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 460px;
    margin-top: -1164px;
    margin-right: 30px;
    margin-bottom: 17px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-1 {
    min-height: 508px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-video-1 {
    min-height: 508px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1619px;
  }

  .u-section-4 .u-group-1 {
    width: 310px;
    min-height: 261px;
    margin-top: 63px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 310px;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 382px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-1 {
    min-height: 385px;
  }

  .u-section-4 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-4 .u-video-1 {
    min-height: 320px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1223px;
}

.u-section-5 .u-image-1 {
  width: 784px;
  height: 588px;
  margin: 70px auto 0 75px;
}

.u-section-5 .u-shape-1 {
  width: 204px;
  height: 204px;
  background-image: none;
  margin: -608px auto 0 0;
}

.u-section-5 .u-group-1 {
  width: 556px;
  min-height: 393px;
  height: auto;
  background-image: linear-gradient(#9893df, #e0e5eb);
  margin: -184px 27px 0 auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 50px 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 35px;
}

.u-section-5 .u-text-2 {
  line-height: 1.8;
  font-size: 1.125rem;
  margin: 27px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-group-2 {
  width: 953px;
  min-height: 499px;
  height: auto;
  background-image: linear-gradient(white, #9893df);
  margin: 59px auto 60px 14px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 49px 0 14px;
}

.u-section-5 .u-text-4 {
  line-height: 1.8;
  font-size: 1.125rem;
  margin: 27px 0 0;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-4 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    width: 762px;
    height: 507px;
    margin-top: 117px;
    margin-left: auto;
  }

  .u-section-5 .u-shape-1 {
    margin-top: -753px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -88px;
    height: auto;
  }

  .u-section-5 .u-group-2 {
    width: 940px;
    margin-top: 146px;
    margin-left: 0;
    height: auto;
  }

  .u-section-5 .u-text-3 {
    margin-left: 8px;
    margin-right: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-5 .u-image-1 {
    width: 599px;
    height: 449px;
    margin-top: 109px;
    margin-right: 50px;
  }

  .u-section-5 .u-shape-1 {
    width: 170px;
    height: 170px;
    margin-top: -507px;
  }

  .u-section-5 .u-group-1 {
    width: 466px;
    margin-top: -55px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-group-2 {
    width: 466px;
    margin-top: -122px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 866px;
  }

  .u-section-5 .u-image-1 {
    width: 453px;
    height: 340px;
    margin-top: 977px;
    margin-right: 36px;
  }

  .u-section-5 .u-shape-1 {
    width: 138px;
    height: 138px;
    margin-top: -398px;
  }

  .u-section-5 .u-group-1 {
    width: 415px;
    min-height: 384px;
    margin-top: -47px;
    margin-right: 0;
  }

  .u-section-5 .u-group-2 {
    width: 415px;
    min-height: 384px;
    margin-top: -227px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 869px;
  }

  .u-section-5 .u-image-1 {
    width: 318px;
    height: 243px;
    margin-top: 109px;
    margin-right: 0;
  }

  .u-section-5 .u-shape-1 {
    width: 116px;
    height: 116px;
    margin-top: -270px;
  }

  .u-section-5 .u-group-1 {
    width: 318px;
    min-height: 386px;
    margin-top: 50px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-group-2 {
    width: 318px;
    min-height: 386px;
    margin-top: -433px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.25rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1221px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 713px;
  background-image: none;
  margin: 60px auto 60px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 981px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-shape-1 {
  width: 589px;
  height: 167px;
  margin: 14px auto 0 20px;
}

.u-section-6 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: -79px 113px 0 47px;
}

.u-section-6 .u-list-1 {
  width: 382px;
  margin: -260px -373px 0 auto;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 1052px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 21px 0 34px;
}

.u-section-6 .u-text-3 {
  font-size: 1.25rem;
  margin: 33px 0 0 23px;
}

.u-section-6 .u-list-item-2 {
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 21px 0 34px;
}

.u-section-6 .u-text-5 {
  font-size: 1.25rem;
  margin: 33px 0 0 23px;
}

.u-section-6 .u-list-item-3 {
  background-image: none;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 21px 0 34px;
}

.u-section-6 .u-text-7 {
  font-size: 1.25rem;
  margin: 33px 0 0 23px;
}

.u-section-6 .u-image-1 {
  height: 413px;
  width: 651px;
  margin: -660px auto 0 20px;
}

.u-section-6 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    font-size: 3.625rem;
  }

  .u-section-6 .embed-responsive-1 {
    width: 231%;
    left: -65%;
    height: 100%;
    top: 0%;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 201px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-6 .embed-responsive-1 {
    width: 178%;
    left: -39%;
    height: 178%;
    top: -39%;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-shape-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    height: 343px;
    width: 540px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-shape-1 {
    width: 340px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2rem;
  }

  .u-section-6 .u-text-2 {
    margin-left: 25px;
    margin-right: 12px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 25px;
    margin-right: 12px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 25px;
    margin-right: 12px;
  }

  .u-section-6 .u-image-1 {
    height: 216px;
    width: 340px;
  }

  .u-section-6 .embed-responsive-1 {
    height: 100%;
    top: 0%;
  }
}.u-section-7 {
  background-image: none;
  min-height: 1147px;
}

.u-section-7 .u-text-1 {
  text-transform: none;
  font-weight: 600;
  font-size: 3rem;
  margin: 49px calc(((100% - 1140px) / 2) + 94px) 0 calc(((100% - 1140px) / 2) + 70px);
}

.u-section-7 .u-shape-1 {
  height: 202px;
  margin-top: 139px;
  margin-bottom: 0;
}

.u-section-7 .u-list-1 {
  width: 1102px;
  margin: -297px auto 60px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 18px) calc(33.3333% - 18px) calc(33.3333% - 18px);
  grid-gap: 27px 27px;
  min-height: 842px;
}

.u-section-7 .u-list-item-1 {
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 17px 0;
}

.u-section-7 .u-image-1 {
  height: 228px;
  width: 337px;
  margin: 83px 0 0 auto;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  margin: 28px 34px 0 6px;
}

.u-section-7 .u-text-3 {
  font-size: 1.125rem;
  margin: 34px 20px 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-list-item-2 {
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 17px 0;
}

.u-section-7 .u-image-2 {
  height: 228px;
  width: 337px;
  margin: 83px 0 0 auto;
}

.u-section-7 .u-text-4 {
  font-weight: 700;
  margin: 28px 34px 0 6px;
}

.u-section-7 .u-text-5 {
  font-size: 1.125rem;
  margin: 34px 20px 0;
}

.u-section-7 .u-list-item-3 {
  background-image: none;
}

.u-section-7 .u-container-layout-3 {
  padding: 17px 0;
}

.u-section-7 .u-image-3 {
  height: 228px;
  width: 337px;
  margin: 83px 0 0 auto;
}

.u-section-7 .u-text-6 {
  font-weight: 700;
  margin: 28px 34px 0 6px;
}

.u-section-7 .u-text-7 {
  font-size: 1.125rem;
  margin: 34px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-7 {
    min-height: 730px;
  }

  .u-section-7 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-7 .u-list-1 {
    width: 940px;
    height: auto;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 351px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 {
    min-height: 1105px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-7 .u-list-1 {
    width: 720px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: calc(50% - 13.5px) calc(50% - 13.5px);
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-left: 56px;
    margin-right: 56px;
  }

  .u-section-7 .u-shape-1 {
    margin-top: 168px;
  }

  .u-section-7 .u-list-1 {
    width: 540px;
    margin-top: -321px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-7 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-7 .u-container-layout-3 {
    padding: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -124px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-7 .u-list-1 {
    width: 340px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 1390px;
}

.u-section-8 .u-shape-1 {
  height: 228px;
  margin-top: 204px;
  margin-bottom: 0;
}

.u-section-8 .u-image-1 {
  height: 515px;
  width: 912px;
  margin: -371px auto 0;
}

.u-section-8 .u-text-1 {
  width: 645px;
  margin: 45px auto 0;
}

.u-section-8 .u-text-2 {
  line-height: 1.8;
  font-size: 1.25rem;
  font-weight: 300;
  margin: 22px 260px 60px 235px;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-btn-5 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 920px;
  }

  .u-section-8 .u-shape-1 {
    margin-top: 135px;
  }

  .u-section-8 .u-image-1 {
    height: 457px;
    width: 810px;
    margin-top: -323px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 55px;
  }

  .u-section-8 .u-text-2 {
    width: 645px;
    margin-left: 135px;
    margin-right: 160px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 870px;
  }

  .u-section-8 .u-shape-1 {
    margin-top: 155px;
  }

  .u-section-8 .u-image-1 {
    height: 383px;
    width: 613px;
    margin-top: -299px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 25px;
    margin-right: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 791px;
  }

  .u-section-8 .u-shape-1 {
    margin-top: 98px;
  }

  .u-section-8 .u-image-1 {
    height: 306px;
    width: 456px;
    margin-top: -267px;
  }

  .u-section-8 .u-text-1 {
    width: 540px;
  }

  .u-section-8 .u-text-2 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 692px;
  }

  .u-section-8 .u-shape-1 {
    height: 81px;
  }

  .u-section-8 .u-image-1 {
    height: 180px;
    width: 285px;
    margin-top: -130px;
  }

  .u-section-8 .u-text-1 {
    width: 340px;
    margin-top: 32px;
  }

  .u-section-8 .u-text-2 {
    width: 340px;
  }
}